* {
  font-family: Robboto, sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 2px #000;
}

div {
  border: 1px dashed #000;
}

/*-----------------------------------*/

.grid {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  align-items: center;
  justify-items: center ;
}

.grid-item {}

.grid-item1 {
  align-self: center;
  justify-self: center;
  background: lightpink;
}