* {
  font-family: Robboto, sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 2px #000;
}

/*-----------------------------------*/

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: row dense;
  height: 100vh;
  grid-gap: 5px;
  border: 1px dashed #000;
}

.grid-item:nth-of-type(2) {
  order: 1;
}

/* .grid-item:nth-of-type(2),
.grid-item:nth-of-type(3) {
  grid-column: span 2;
} */

.grid-item1 {
  background: lightpink;
}

.grid-item2 {
  background: rgb(232, 182, 255);
}

.grid-item3 {
  background: rgb(215, 255, 182);
}

.grid-item4 {
  background: lightpink;
}

.grid-item5 {
  background: rgb(232, 182, 255);
}

.grid-item6 {
  background: rgb(215, 255, 182);
}

.grid-item7 {
  background: lightpink;
}

.grid-item8 {
  background: rgb(232, 182, 255);
}

.grid-item9 {
  background: rgb(215, 255, 182);
}

.grid-item10 {
  background: lightpink;
}