* {
  font-family: Robboto, sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 2px #000;
}



/*-----------------------------------*/

.grid {
  border: 1px dashed #000;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

.grid-1 {
  height: 100vh;
}

.grid-2 {
  grid-gap: 5px;
  grid-template-columns: 1fr 5fr;
}

.grid-item5 {
grid-column: span 2;
}

.grid-item1 {
  background: lightpink;
}

.grid-item2 {
  background: rgb(232, 182, 255);
}

.grid-item3 {
  background: rgb(215, 255, 182);
}

.grid-item4 {
  background: lightpink;
}



.grid-item6 {
  background: rgb(215, 255, 182);
}

.grid-item7 {
  background: lightpink;
}

.grid-item8 {
  background: rgb(232, 182, 255);
}

.grid-item9 {
  background: rgb(215, 255, 182);
}

.grid-item10 {
  background: lightpink;
}