* {
  font-family: Robboto, sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 2px #000;
}

/*-----------------------------------*/

.grid {
  display: grid;
  height: 100vh;
  grid-gap: 5px;
  border: 1px dashed #000;
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: repeat (4, 1fr);
}

.grid-item {
  width: 100px;
  height: 100px;
}

.grid-item1 {

  background: lightpink;
}

.grid-item2 {

  background: rgb(232, 182, 255);
}

.grid-item3 {

  background: rgb(215, 255, 182);
}